
<style>

.logo{
    margin-top:22px;
    margin-left:143px;
   
}


.headerrectanglep1
{
    display: inline-flex;
}
.search
{
    width:652px;
    height:49px;
    margin-top:7px;
    margin-left:454px;
    border:black 1px solid;
}
</style>